- nav = I18n.t :nav
%nav#nav
  %ul.main.nav
    %li>
      %a{href: "#intro"}= nav[:intro]
    %li>
      %a{href: "#education"}= nav[:education]
    %li>
      %a.two_lines{href: "#experience"}= nav[:experience].split.join(' ')
    %li>
      %a.two_lines{href: "#skills"}= nav[:skills].split.join(' ')
    %li>
      %a{href: "#hobbies"}= nav[:hobbies]
